.home-page
  align-items: center
  text-align: center


.search
  display: flex
  flex-direction: column
  gap: 0.5rem

.input-searcher
  display: flex
  border: 1px solid #acacac
  border-radius: 28px
  padding: 0.2rem 0.8rem
  background-color: #d5c4f1
  input
    border: none
    background-color: inherit
    outline: none
  figure
    width: 0.9rem

@media (min-width: 1000px)
  .home-page
