.welcome-page
  font-size: 1.2rem
  align-items: center
  justify-content: flex-start
  padding-top: 7vh
  text-align: center
  gap: 1.5rem

.buttons-welcome
  display: flex
  gap: 1rem

@media (min-width: 1280px)
  .welcome-page
    padding-top: 20vh
